# EXERCISE MODULE_5

1. Declare an empty list

In [ ]:
empty_list = [ ]

print(empty_list)

2.Declare a list with more than 5 items

In [47]:
mall_list ='jeans', 't_shirts', 'sheos', 'caps', 'perfumes'

print(mall_list)

('jeans', 't_shirts', 'sheos', 'caps', 'perfumes')

3 . Find the length of your list

In [54]:
mall_list ='jeans', 't_shirts', 'sheos', 'caps', 'perfumes'

print('number of mall_list:', len(mall_list))

number of mall_list: 5

4. Get the first item, the middle item and the last item of the list

In [67]:
mall_list ='jeans', 't_shirts', 'sheos', 'caps', 'perfumes'

first_mall_list = mall_list [0]
print(first_mall_list)

middle_mall_list = mall_list [2]
print(middle_mall_list)

last_mall_list = mall_list [4]
print(last_mall_list)

jeans
sheos
perfumes

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [73]:
mixed_data = ['Abdulmalik','26', '17', 'single', 'dutse_jigawa']

   6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [71]:
it_companies = 'facebook','google','microsoft','apple','IBM','Oracle','Amazon'

   7.Print the list using print()

In [72]:
print(it_companies)

('facebook', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon')

8.Print the number of companies in the list

In [75]:
print('number of companies:', len(it_companies))

number of companies: 7

9.Print the first, middle and last company

In [79]:
first_it_companies = it_companies[0]
print(first_it_companies)

first_it_companies = it_companies[3]
print(first_it_companies)

first_it_companies = it_companies[6]
print(first_it_companies)

facebook
apple
Amazon

10.Print the list after modifying one of the companies

In [104]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']
it_companies[0] = '3plus'
print(it_companies)

['3plus', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon']

11.Add an IT company to it_companies

In [110]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']

it_companies.append('telsa')

print(it_companies)

['facebook', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon', 'telsa']

12.Insert an IT company in the middle of the companies list

In [114]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']

it_companies.insert(4, 'tesla')

print(it_companies)

['facebook', 'google', 'microsoft', 'apple', 'tesla', 'IBM', 'Oracle', 'Amazon']

13.Change one of the it_companies names to uppercase (IBM excluded!)

In [120]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']

it_companies[0].upper()

'FACEBOOK'

14.Join the it_companies with a string '#;'

In [123]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
joined_string = '#;'.join(it_companies)
print(joined_string)

Google#;Facebook#;Microsoft#;Apple#;Amazon

15.Check if a certain company exists in the it_companies list.

In [126]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

does_exits = 'Microsoft' in it_companies

print(does_exits)

True

16.Sort the list using sort() method

In [129]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

it_companies.sort()

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'Microsoft']

17.Reverse the list in descending order using reverse() method

In [132]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

it_companies.sort(reverse='true')

print(it_companies)

['Microsoft', 'Google', 'Facebook', 'Apple', 'Amazon']

18.Slice out the first 3 companies from the list

In [133]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

first_three_companies = it_companies[:3]
print(first_three_companies)

['Google', 'Facebook', 'Microsoft']

19.Slice out the last 3 companies from the list

In [135]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
first_three_companies = it_companies[-3:]
print(first_three_companies)

['Microsoft', 'Apple', 'Amazon']

20.Slice out the middle IT company or companies from the list

In [140]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
first_three_companies = it_companies[2]
print(first_three_companies)

Microsoft

21.Remove the first IT company from the list

In [160]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
it_companies.remove('Google')
print(it_companies)

['Facebook', 'Microsoft', 'Apple', 'Amazon']

22.Remove the middle IT company or companies from the list

In [161]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
it_companies.remove('Microsoft')
print(it_companies)

['Google', 'Facebook', 'Apple', 'Amazon']

23.Remove the last IT company from the list

In [162]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

it_companies.remove('Amazon')
print(it_companies)

['Google', 'Facebook', 'Microsoft', 'Apple']

24.Remove all IT companies from the list

In [169]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

del it_companies

25.Destroy the IT companies list

In [170]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
del it_companies

print(it_companies)

NameError: name 'it_companies' is not defined

26.Join the following lists:

In [173]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27.After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [180]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

full_stack = front_end + back_end

# Find the index of 'Redux' and insert 'Python' and 'SQL' after it
redux_index = full_stack.index('Redux')
full_stack.insert(redux_index + 1, 'Python')
full_stack.insert(redux_index + 2, 'SQL')

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']