# EXERCISE MODULE_5

1. Declare an empty list

In [ ]:
empty_list = [ ]

print(empty_list)

2.Declare a list with more than 5 items

In [47]:
mall_list ='jeans', 't_shirts', 'sheos', 'caps', 'perfumes'

print(mall_list)

('jeans', 't_shirts', 'sheos', 'caps', 'perfumes')

3 . Find the length of your list

In [54]:
mall_list ='jeans', 't_shirts', 'sheos', 'caps', 'perfumes'

print('number of mall_list:', len(mall_list))

number of mall_list: 5

4. Get the first item, the middle item and the last item of the list

In [67]:
mall_list ='jeans', 't_shirts', 'sheos', 'caps', 'perfumes'

first_mall_list = mall_list [0]
print(first_mall_list)

middle_mall_list = mall_list [2]
print(middle_mall_list)

last_mall_list = mall_list [4]
print(last_mall_list)

jeans
sheos
perfumes

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [73]:
mixed_data = ['Abdulmalik','26', '17', 'single', 'dutse_jigawa']

   6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [71]:
it_companies = 'facebook','google','microsoft','apple','IBM','Oracle','Amazon'

   7.Print the list using print()

In [72]:
print(it_companies)

('facebook', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon')

8.Print the number of companies in the list

In [75]:
print('number of companies:', len(it_companies))

number of companies: 7

9.Print the first, middle and last company

In [79]:
first_it_companies = it_companies[0]
print(first_it_companies)

first_it_companies = it_companies[3]
print(first_it_companies)

first_it_companies = it_companies[6]
print(first_it_companies)

facebook
apple
Amazon

10.Print the list after modifying one of the companies

In [104]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']
it_companies[0] = '3plus'
print(it_companies)

['3plus', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon']

11.Add an IT company to it_companies

In [110]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']

it_companies.append('telsa')

print(it_companies)

['facebook', 'google', 'microsoft', 'apple', 'IBM', 'Oracle', 'Amazon', 'telsa']

12.Insert an IT company in the middle of the companies list

In [114]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']

it_companies.insert(4, 'tesla')

print(it_companies)

['facebook', 'google', 'microsoft', 'apple', 'tesla', 'IBM', 'Oracle', 'Amazon']

13.Change one of the it_companies names to uppercase (IBM excluded!)

In [120]:
it_companies = ['facebook','google','microsoft','apple','IBM','Oracle','Amazon']

it_companies[0].upper()

'FACEBOOK'

14.Join the it_companies with a string '#;'

In [123]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
joined_string = '#;'.join(it_companies)
print(joined_string)

Google#;Facebook#;Microsoft#;Apple#;Amazon

15.Check if a certain company exists in the it_companies list.

In [126]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

does_exits = 'Microsoft' in it_companies

print(does_exits)

True

16.Sort the list using sort() method

In [129]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

it_companies.sort()

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'Microsoft']

17.Reverse the list in descending order using reverse() method

In [132]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

it_companies.sort(reverse='true')

print(it_companies)

['Microsoft', 'Google', 'Facebook', 'Apple', 'Amazon']

18.Slice out the first 3 companies from the list

In [133]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

first_three_companies = it_companies[:3]
print(first_three_companies)

['Google', 'Facebook', 'Microsoft']

19.Slice out the last 3 companies from the list

In [135]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
first_three_companies = it_companies[-3:]
print(first_three_companies)

['Microsoft', 'Apple', 'Amazon']

20.Slice out the middle IT company or companies from the list

In [140]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
first_three_companies = it_companies[2]
print(first_three_companies)

Microsoft

21.Remove the first IT company from the list

In [160]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
it_companies.remove('Google')
print(it_companies)

['Facebook', 'Microsoft', 'Apple', 'Amazon']

22.Remove the middle IT company or companies from the list

In [161]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
it_companies.remove('Microsoft')
print(it_companies)

['Google', 'Facebook', 'Apple', 'Amazon']

23.Remove the last IT company from the list

In [162]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

it_companies.remove('Amazon')
print(it_companies)

['Google', 'Facebook', 'Microsoft', 'Apple']

24.Remove all IT companies from the list

In [169]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]

del it_companies

25.Destroy the IT companies list

In [170]:
it_companies = ["Google", "Facebook", "Microsoft", "Apple", "Amazon"]
del it_companies

print(it_companies)

NameError: name 'it_companies' is not defined

26.Join the following lists:

In [173]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27.After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [180]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

full_stack = front_end + back_end

# Find the index of 'Redux' and insert 'Python' and 'SQL' after it
redux_index = full_stack.index('Redux')
full_stack.insert(redux_index + 1, 'Python')
full_stack.insert(redux_index + 2, 'SQL')

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# EXERCISE LEVEL_2

1.The following is a list of 10 students ages:

In [54]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#sorting of list
ages.sort()
print(ages)
#find min and max number
min_age = ages[0]
print(min_age)
print("minimum_number:",min_age)
max_age = ages[-1]
print("maximun_number:",max_age)

#add using append
ages.append(min_age)
ages.append(max_age)

# median
n = len(ages)
median_age = (ages[n//2 - 1] + ages[n//2]) / 2 if n % 2 == 0 else ages[n//2]

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
minimum_number: 19
maximun_number: 26

In [55]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("Ages:", ages)

# Min and Max
min_age = ages[0]
max_age = ages[-1]
print("Min age:", min_age)
print("Max age:", max_age)

# Add min and max to the list
ages.append(min_age)
ages.append(max_age)

# Median
n = len(ages)
median_age = (ages[n//2 - 1] + ages[n//2]) / 2 if n % 2 == 0 else ages[n//2]

print("Median age:", median_age)

# Average
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

# Range
age_range = max_age - min_age
print("Age range:", age_range)

# Absolute Differences
diff_min_avg = abs(min_age - average_age)
diff_max_avg = abs(max_age - average_age)
print("Difference (min - average):", diff_min_avg)
print("Difference (max - average):", diff_max_avg)

# Countries operations
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
n = len(countries)
print("Middle country(ies):", middle_countries)

# Middle country(ies)
middle_countries = countries[n//2 - 1:n//2 + 1] if n % 2 == 0 else [countries[n//2]]
print("First half of countries:", first_half)

# Divide into two halves
first_half = countries[:n//2 + (n % 2)]
second_half = countries[n//2 + (n % 2):]
print("Second half of countries:", second_half)

# Unpack countries
first, second, third, *scandic_countries = countries
print("First three countries:", first, second, third)
print("Scandic countries:", scandic_countries)

Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Age range: 7
Difference (min - average): 3.75
Difference (max - average): 3.25
Middle country(ies): ['Finland']
First half of countries: ['China', 'Russia', 'USA', 'Finland']
Second half of countries: ['Sweden', 'Norway', 'Denmark']
First three countries: China Russia USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

# Tuple Exercises: Level 1

1.Create an empty tuple

In [56]:
declare_empty = ()

2.
Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [57]:
sisters = ['fatima','hafsat','bilkisu','habiba','ummunsalma']

brothers =['ameer','abdulmalik','imam','abdallah']

3.Join brothers and sisters tuples and assign it to siblings

In [61]:
sibilings = sisters + brothers

print("my_family:",sibilings)

my_family: ['fatima', 'hafsat', 'bilkisu', 'habiba', 'ummunsalma', 'ameer', 'abdulmalik', 'imam', 'abdallah']

4.How many siblings do you have?

In [65]:
len(sibilings)

9

5.Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [71]:
my_family = ['fatima', 'hafsat', 'bilkisu', 'habiba', 'ummunsalma', 'ameer', 'abdulmalik', 'imam', 'abdallah']

family_list = list(my_family)
my_family [0] = 'bashir'
my_family[1] = 'aisha'
print(my_family)

['bashir', 'aisha', 'bilkisu', 'habiba', 'ummunsalma', 'ameer', 'abdulmalik', 'imam', 'abdallah']

# Tuple Exercises: Level 2

1.Unpack siblings and parents from family_members

In [ ]:


# To Create tuples for siblings and parents
sisters = ("rabiatu", "Fatima", "Zainab")
brothers = ("Abdullah", "abdulmalik", "ameer")
parents = ("bashir", "aisha")

# Combine all into family_members
family_members = sisters + brothers + parents

# Unpack siblings and parents
*siblings, father, mother = family_members

print("Family Members:", family_members)
print("Siblings:", siblings)
print("Father:", father)
print("Mother:", mother)

Family Members: ('rabiatu', 'Fatima', 'Zainab', 'Abdullah', 'abdulmalik', 'ameer', 'bashir', 'aisha')
Siblings: ['rabiatu', 'Fatima', 'Zainab', 'Abdullah', 'abdulmalik', 'ameer']
Father: bashir
Mother: aisha

2.Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [ ]:
# lists
fruits = ('mango','lemon','apple',"peach")
vegetables = ('tomato','carrot','beans','pumkim')
animal_product = ('milk','meat','butter','eggs')
#combine
food_stuff = fruits + vegetables + animal_product

print("my_foos_stuff_tp:",food_stuff)

my_foos_stuff_tp: ('mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs')

3.Change the about food_stuff_tp tuple to a food_stuff_lt list

In [110]:
my_food_stuff_tp =  ('mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs')

# Convert the tuple to a list
food_stuff_lt = list(my_food_stuff_tp)

print("myfood_stuff_tuples:",my_food_stuff_tp )
print("myfood_stuff_list:",food_stuff_lt )

myfood_stuff_tuples: ('mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs')
myfood_stuff_list: ['mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs']

4.Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [124]:
food_stuff_tp = ('mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs')

food_stuff_lt = list(food_stuff_tp)

n = len(food_stuff_lt)
if n % 2 == 0:
    middle_items = food_stuff_lt[n//2 - 1:n//2 + 1]
else:  
    middle_items = [food_stuff_lt[n//2]]


print("Food Stuff Tuple:", food_stuff_tp)
print("Food Stuff List:", food_stuff_lt)
print("Middle Item(s):", middle_items)

Food Stuff Tuple: ('mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs')
Food Stuff List: ['mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs']
Middle Item(s): ['carrot', 'beans']

4.Slice out the first three items and the last three items from food_staff_lt list

In [153]:
food_stuff_list = ['mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs']


#first three

first_three = food_stuff_list[:3]

#slice_out last three

last_three = food_stuff_list[-3:]

print("Food Stuff List:", food_stuff_list)
print("First Three Items:", first_three)
print("Last Three Items:", last_three)

Food Stuff List: ['mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs']
First Three Items: ['mango', 'lemon', 'apple']
Last Three Items: ['meat', 'butter', 'eggs']

6.Delete the food_staff_tp tuple completely

In [159]:
food_stuff_list = ['mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs']

del food_stuff_list

7.Check if an item exists in tuple

In [ ]:
food_stuff_list = ['mango', 'lemon', 'apple', 'peach', 'tomato', 'carrot', 'beans', 'pumkim', 'milk', 'meat', 'butter', 'eggs']

'tomato' in food_stuff_list

True

8.Check if 'Estonia' is a nordic country

In [161]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

'estonia' in nordic_countries

False


9.Check if 'Iceland' is a nordic country

In [163]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

'Iceland' in nordic_countries

True

# SET EXERCISES

1.Find the length of the set it_companies

In [167]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

it_length = len(it_companies)

print(it_length)

7

2.Add 'Twitter' to it_companies

In [169]:
it_companies.add('twitter')
print(it_companies)

{'Facebook', 'Apple', 'Google', 'IBM', 'Microsoft', 'Oracle', 'twitter', 'Amazon'}

3.Insert multiple IT companies at once to the set it_companies

In [195]:
multiple_it = ('mega','noroo')
it_companies.update(multiple_it)
print(it_companies)

{'Facebook', '3plus', 'Google', 'mega', 'IBM', 'Microsoft', 'Amazon', 'printing_media', 'Apple', 'Oracle', 'noroo'}

4.Remove one of the companies from the set it_companies

In [197]:
it_companies.remove('mega')
print(it_companies)

{'Facebook', '3plus', 'Google', 'IBM', 'Microsoft', 'Amazon', 'printing_media', 'Apple', 'Oracle', 'noroo'}

5.What is the difference between remove and discard

The remove () method will raise an error if the specified item does not exist, while dicard method will not

# SET EXERCISES_LEVEL 2

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

1.Join A and B

In [4]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}
st = a.union(b)
print(a.union(b))

{19, 20, 22, 24, 25, 26, 27, 28}

2.Find A intersection B

In [5]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}

intersection = a & b  
print(intersection)

{19, 20, 22, 24, 25, 26}

3.Is A subset of B

In [6]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}

is_subset = a.issubset(b)
print(is_subset)

True

4.Are A and B disjoint sets

In [7]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}

are_disjoint = a.isdisjoint(b)
print(are_disjoint)

False

5.Join A with B and B with A

In [8]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}

union_ab = a | b  
union_ba = b | a  

print("A union B:", union_ab)
print("B union A:", union_ba)

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}

6.What is the symmetric difference between A and B

In [10]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}
a.symmetric_difference(b)

{27, 28}

7.Delete the sets completely

In [12]:
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}

del a,b

# Sets Exercises: Level 3

1.Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [21]:
ages = [19, 22, 24, 20, 25, 26, 19, 22, 24]

# Convert the list to a set
ages_set = set(ages)

# Compare lengths
list_length = len(ages)
set_length = len(ages_set)

print("Length of the list:", list_length)
print("Length of the set:", set_length)

# Determine which is bigger

print("The list is bigger.")

Length of the list: 9
Length of the set: 6
The list is bigger.

2.Explain the difference between the following data types: string, list, tuple and set

strings: A sequence of characters, used to represent text.

List: An ordered collection of elements (can be of any data type).

Tuples: An ordered collection of elements, similar to a list, but immutable.
Set: An unordered collection of unique elements.

3.I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [22]:
sentence = "I am a teacher and I love to inspire and teach people."

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to remove duplicates
unique_words = set(words)

# Find the number of unique words
unique_word_count = len(unique_words)

print("Unique words:", unique_words)
print("Number of unique words:", unique_word_count)

Unique words: {'love', 'and', 'I', 'people.', 'am', 'to', 'inspire', 'a', 'teach', 'teacher'}
Number of unique words: 10